<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="http://www.clker.com/cliparts/I/n/S/M/8/z/cocktail-hi.png">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><%= link_to "My own cocktail !", new_cocktail_path, class: "btn btn-success"%></a>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("Banner.jpg") %>);">
  <div class="container">
    <h1>My Gin Cocktails</h1>
    <br>


  </div>
</div>

<div class = "container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
    <div class="card-category">
      <%= cl_image_tag(cocktail.photo, crop: :fill, width: 400, height: 350) %>
      <div class="card-description">
       <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
     </div>
   </div>
   <% end %>
 </div>
</div>








