.img-new-event{
  height: 100%;
  width: 100%
}

.simple_form {
width: 200px;
margin: auto;
margin-top: 100px;
}

.header {
  margin-bottom: 40px;
  color: gray;
}

.button {
  text-align: end;
  margin-top: 250px;
}

 .far {
    color: gray;
    margin: auto;
  }

.card {
  text-align: -webkit-center;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  justify-content: center;
  border-radius: 10px;
  height: 380px;
    width: 380px;
}

.recipe {
  display: flex;
  justify-content: center;
  height: 360px;
  margin-top: 70px;
}
