.img-new-event{
  height: 100%;
  width: 100%
}

.simple_form {
width: 200px;
margin: auto;
margin-top: 100px;
}

.header {
  text-align: center;
  color: gray;
}

.button {
  text-align: end;
  margin-top: 250px;
}
